* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --color-secondary: #6d7588;
  --main-color: #00aa5b;
  --third-color: #212121;
  --second-size: 13px;
  --border-color: #bfc9d9;
  --first-size: 22px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
section,
footer {
  margin: 32px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
/* top nav */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f3f7;
  padding: 5px 32px;
}
.top-nav-left ul li,
.top-nav-right ul li {
  display: inline;
}

.top-nav-right ul li a {
  text-decoration: none;
  margin: 0 15px;
  font-size: var(--second-size);
  color: var(--color-secondary);
}
.top-nav-left ul li a {
  text-decoration: none;
  margin: 0 5px;
  font-size: var(--second-size);
  color: var(--color-secondary);
}
.mobile-phone {
  font-size: 20px;
}
/* hover */
.top-nav-left ul li a:hover {
  color: var(--main-color);
}
.top-nav-right ul li a:hover {
  color: var(--main-color);
}
/* middle nav */
.middle-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 30px 32px;
  background-color: #fff;
}
.mid-nav-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mid-nav-center div p {
  /* font-size: 16px; */
  width: auto;
}
/* .middle-nav .mid-nav-center div p form input {
  display: inline;
  margin: 0 10px;
} */

.middle-nav .mid-nav-right ul {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.middle-nav .mid-nav-right ul li {
  display: flex;
  align-items: center;
}
.middle-nav .mid-nav-right ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.middle-nav .mid-nav-right ul li a p {
  margin: 0;
  font-size: 14px;
  color: var(--third-color);
}
.middle-nav .mid-nav-right ul li a {
  color: var(--third-color);
}

.middle-nav .mid-nav-right ul li p {
  margin: 0 10px;
  font-size: 15px;
}
.icon-toko,
.icon-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.line {
  width: 1.2px;
  height: 30px;
  background-color: #e4ebf5;
  margin: 0 10px;
}
/* hover */

.middle-nav .mid-nav-center a p,
.mid-nav-right ul li a {
  position: relative;
  color: var(--third-color);
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.middle-nav .mid-nav-center a p::after,
.mid-nav-right ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.middle-nav .mid-nav-center a p:hover::after,
.mid-nav-right ul li a:hover::after {
  opacity: 1;
}

/* .middle-nav .mid-nav-right ul li a:hover {
  color: var(--third-color);
} */
/* search */
.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid black;
}
.search-icon {
  font-size: 20px;
  padding-left: 5px;
}
.search-input {
  font-size: 16px;
  margin-left: 14px;
  color: var(--color-secondary);
  outline: none;
  border: none;
  background: transparent;
  width: 450px;
}
.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.25);
}

/* bottom nav */
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 32px;
  border-bottom: 1px solid #f0f3f7;
}
.bot-nav-center ul li {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
}
.bot-nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.bot-nav-center ul li {
  color: var(--color-secondary);
  font-size: var(--second-size);
}
.bot-nav-center ul li:hover {
  color: var(--main-color);
}
.icon-pin {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.icon-pin p {
  font-size: 12px;
}
.icon-pin span {
  font-weight: bold;
}
.arrow-down {
  font-size: 12px;
}
/* slider */
.slider {
  top: 15px;
  width: 1200px;
  max-width: 100vw;
  height: 300px;
  margin: 120px auto 0 auto;
  position: relative;
  overflow: hidden;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1200px;
  max-width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: top;
  transition: border-radius 1s ease-in-out;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}

.buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--color-secondary);
  border: none;
  /* transition: box-shadow 0.3s ease; */
}

.shadow-l {
  box-shadow: -5px 0px 8px rgba(0, 0, 0, 0.25); /* Tambahkan shadow di sini */
}
.shadow-r {
  position: absolute;
  right: -100px;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.25); /* Tambahkan shadow di sini */
}
/* .hidden {
  display: none;
} */

.slider-footer {
  position: absolute;
  bottom: 110px;
  left: 50%;
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .slider-footer,
.dots,
.promo {
  margin-left: 100px;
} */
.promo {
  position: relative;
  bottom: 10px;
  z-index: 10;
  float: right;
  background-color: var(--third-color);
  padding: 3px 6px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin-left: auto;
  margin-right: 50px;
}

.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  display: flex;
  /* left: 0px; */
  right: 540px;
  /* justify-content: space-between; */
}
.dots li {
  list-style: none;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.284);
  margin: 2px;
  border-radius: 50%;
}
.dots li.active {
  background-color: #fff;
}

/* card */
/* kategori */
.kategori-container {
  /* margin-top: 50px; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 1200px;
  border-radius: 12px;
  padding-top: 20px;
}
.kategori {
  /* width: 1200px; */
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); */
  display: flex;
  padding: 15px;
  gap: 15px;
  /* border-radius: 15px; */
  /* padding-top: 20px; */
}
.card-container {
  display: flex;
  margin-top: 10px;
}
.card-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 5px 15px;
  border-radius: 12px;
}
.card-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card-item p {
  display: flex;
  position: relative;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
}
/* top up */
.top-up-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 590px;
  padding-bottom: 15px;
  margin-top: 20px;
  border-radius: 12px;
}
.top-up-kategori {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.top-up .text {
  display: flex;
  gap: 10px;
  margin-top: -5px;
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}
.dots-3 {
  display: flex;
  border: 1px solid #e8e8e8;
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: -42.5px;
  border-radius: 0 12px 0 0;
  right: 47px;
  align-items: center;
  justify-content: center;
}
.text h4 a {
  color: var(--main-color);
  font-size: 16px;
  display: flex;
  margin-top: 7px;
}
.top-up a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
}
.pulsa a {
  color: var(--main-color);
  position: relative;
  bottom: 8px;
}
.pulsa {
  border-bottom: 2px solid var(--main-color);
  width: 100px;
  top: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* top up pulsa */
.top-up-pulsa {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.nomor {
  width: 240px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-top: 10px;
}
.nomor-icon {
  font-size: 15px;
  position: relative;
  left: 70px;
}
.nomor input {
  font-size: 12px;
  /* margin-left: 14px; */
  color: var(--color-secondary);
  outline: none;
  border: none;
  background: transparent;
  /* width: 450px; */
}
/* .nomor-telepon {
  padding: 2.5px;
} */
.beli {
  width: 70px;
  display: flex;
  position: relative;
  top: 30px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #e4ebf5;
}
.beli input {
  border: none;
  outline: none;
  color: var(--color-secondary);
  background: transparent;
  cursor: pointer;
  margin-left: 13px;
  width: 20px;
}
.field p {
  font-weight: bold;
  font-size: var(--second-size);
  color: var(--color-secondary);
}
.kategori-pilihan h2,
.text h2 {
  font-size: var(--first-size);
  color: var(--third-color);
}
/* kategori bottom */
.kategori-bottom {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.kategori-icon {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 15px;
  gap: 6px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.kategori-icon img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.kategori-icon p {
  margin: 0;
  font-size: 14px; /* Adjust font size if needed */
  text-align: center;
  color: var(--third-color);
}
.trending::after {
  display: block;
  content: "";
  height: 1px;
  background-color: #f0f3f7;
  margin-top: 20px;
}

/* produk trending */
.trending-list-top,
.trending-list-bot {
  display: flex;
  gap: 20px;
}

.produk {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  width: 300px;
  border-radius: 8px;
}
.trending-list-top img,
.trending-list-bot img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.produk {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.produk img,
.produk-text {
  position: relative;
  right: 43px;
}
.trending-text {
  display: flex;
  position: relative;
}
.trending-text h2 {
  color: var(--third-color);
}
.trending-text a {
  color: var(--main-color);
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
}
.trending-text i {
  font-size: 20px;
}
.produk-text > :nth-child(1) {
  font-weight: bold;
  font-size: 17px;
  color: var(--third-color);
}
.produk-text > :nth-child(2) {
  margin-top: 10px;
  font-size: 15px;
  color: var(--color-secondary);
}
/* pencarian */

.pencarian-items {
  display: flex;
  gap: 15px;
}

.pencarian-produk {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.pencarian-produk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}
.lokasi,
.nilai {
  display: flex;
}
.pencarian-judul {
  display: flex;
  gap: 10px;
}
.pencarian-judul h2 {
  font-size: var(--first-size);
}
.pencarian-judul a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 6px;
}
.pencarian-text {
  padding: 10px;
}
.dot-3 i {
  position: relative;
  left: 45px;
  color: var(--color-secondary);
}
.nama-barang p,
h4 {
  color: var(--third-color);
}
.nama-barang p {
  font-size: var(--second-size);
}
.lokasi i {
  color: yellow;
  font-size: 9px;
  text-align: center;
}
.lokasi p,
.nilai p {
  margin-left: 8px;
  color: var(--color-secondary);
  font-size: var(--second-size);
}
.lokasi-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 0, 236);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.nilai-icon i {
  color: rgb(248, 203, 0);
  font-size: 14px;
}
.nama-barang p,
h4,
.lokasi .lokasi-icon,
.lokasi p {
  margin-bottom: 5px;
}
.hr-1 {
  position: relative;
  display: block;
  height: 8px;
  width: 100%;
  border: none;
  background: var(--NN50, #f0f3f7);
  margin: 40px 0px;
}
.hr-2 {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  border: none;
  background: var(--NN50, #dbdee2);
  margin: 40px 0px;
}
.tab-list {
  display: flex;
}
.tab-list button {
  display: flex;
  padding: 15px 10px;
  width: 216px;
  height: 64px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.tab-list.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 120px;
  padding: 10px 0 10px 32px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.button-book {
  background: linear-gradient(to right, rgb(236, 139, 4), rgb(227, 193, 0));
  position: relative;
}

.button-book::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 3px;
  width: 35px;
  background-color: #fff;
}
.button-ear {
  background: linear-gradient(to right, #006938, #00aa2d);
}
.button-teen {
  background: linear-gradient(to right, #95008d, #d600cb);
}
.button-lihat {
  background: linear-gradient(to right, #0088c2, #00d9ce);
}
.button-muat {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.button-muat button {
  width: 300px;
  height: 50px;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background: transparent;
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
/* footer */
.foot {
  display: flex;
  gap: 20px;
}
.foot ul li,
.foot p {
  list-style: none;
  margin-bottom: 10px;
}

.foot p {
  font-weight: 800;
  color: var(--third-color);
}
.foot ul li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 14px;
}
.foot-center-up .box-image {
  display: inline-block;
}
.box-image {
  width: 80px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  bottom: 10px;
}

.pci-img,
.bsi-img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}
.bsi-img {
  position: relative;
  top: 5px;
  left: 5px;
}
.footer-center-bot ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}
.fa-facebook {
  color: rgb(32, 32, 211);
}
.fa-twitter {
  color: rgb(27, 118, 255);
}
.fa-pinterest {
  color: rgb(213, 0, 0);
}
.fa-square-instagram {
  color: rgb(219, 0, 0);
}
.iconic img {
  width: 500px;
  height: 100%;
}
.foot-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.copyright p {
  color: var(--color-secondary);
  font-size: var(--second-size);
}
.translate > :nth-child(2) {
  width: 200px;
  padding-left: 100px;
  height: 40px;
  font-weight: bold;
  color: var(--color-secondary);
  border: none;
  background-color: #f0f3f7;
  border-radius: 8px;
}
.translate {
  position: relative;
}

.translate > :nth-child(1) {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  width: 99px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  border-radius: 8px;
}
.whatsapp {
  position: fixed;
  display: flex;
  gap: 10px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 25px;
  padding: 13px 16px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 #bfc9d9;
  right: 50px;
  bottom: 30px;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.whatsapp p {
  font-size: 15px;
}
